body {
    margin: 0px;
    width: 100%;
    background-color: #E9FFF6;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

a {
    color: #325754;
}

#logo {
    display: flex;
    justify-content: center;
    }

#nav {
    width: 35px;
    height: 310px;
    background-color: #C8E3C0;
    justify-content: space-evenly;
}

#nav_text_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}

#about-me {
    margin: 130px;
    display: flex;
    justify-content: right;
}
#first {
    width: 735px;
    height: 735px;
    background: #DEEAAC;
    margin-left: 150px;
    margin-top: -40x;
}
