body {
    margin: 0px;
    width: 100%;
    background-color: #E9FFF6;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
#maincontainer {
    width: 1000px;
    background-color: purple;
    border: solid 1px black;

}

a {
    color: #325754;
}

#logo {
    display: flex;
    justify-content: center;
    border: solid 1px black;
    }

#nav {
    width: 3550px;
    height: 310px;
    background-color: #C8E3C0;
    border: solid 1px black;
    /* justify-content: space-evenly; */
}

#nav_text_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px black;
    /* justify-content: space-evenly; */
   
}

#about-me-logo {
    margin: 130px;
    display: flex;
    justify-content: right;
    position: absolute;
    border: solid 1px black;
}
#image_box {
    width: 1471px;
    height: 1471px;
    background: #DEEAAC;
    margin-left: 150px;
    margin-top: -40x;
}

/* #background {
    background-image: url(../images/background.png);
    width: 3663px;
    height: 3908px;
    justify-content: center;
    margin-top: -2300px; */
}