body {
    margin: 0px;
    width: 100%;
    background-color: #E9FFF6;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 50px;
}
#maincontainer {
    width: 1000px;
    background-color: purple;
    background-image: url(../images/backgroundd.png);
    border: solid 1px black;
}

a {
    color: #325754;
}

#logo {
    display: flex;
    align-items: center;
    width: 467px;
    height: 336px;
    border: solid 1px black;
    }

#nav {
    width: 1000px;
    height: 90px;
    background-color: #C8E3C0;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav_text_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px black;
}

#about-me-logo {
    margin: 130px;
    justify-content: right;

    border: solid 1px black;
}
#image_box {
    width: 406px;
    height: 406px;
    background: #DEEAAC;
    margin-left: 150px;
    margin-top: -40x;
}
